
.footer{
    padding: 9vw 0 10vw 0; 
    background-color: $very_dark_gray_blue;
    border-top: 4px solid $blue;
    
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logo{
        margin-bottom: 30px; 
        img{
            display: block;
            width: 175px;
            height: auto;
        }
    }

    &__socials{
        width: 80px;
        margin: 0 auto 35px auto; 
        display: flex;
        justify-content: space-between;
        i{
            font-size: 1.875rem; // 30px
            color: $very_light_blue;
            transition: color 0.3s;
            &:hover{
                color: $bright_blue;
            }
        }
    }

    &__contact-btn{ 
        background-color: $dark_gray_blue;
        &:hover{
            background-color: $blue;
        }
    }

}

// Desktop Media Query 
@media only screen and (min-width: 900px){
    .footer{
        padding: 15px 0; 
        
        .container{
            flex-direction: row;
            justify-content: space-between;
        }
    
        &__logo{ 
            margin-bottom: unset; 
            img{
                width: 166px; 
            }
        }
    
        &__links-wrapper{
            width: 225px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        &__socials{
            width: 65px; 
            margin: unset; 
            i{
                font-size: 1.6875rem; // 27px  
            }
        }
    
        &__contact-btn{ 
            padding: 13px 25px; 
            font-size: 1.125rem; 
        }
    }
}
