
.header{
    height: 90px;
    background-color: $very_light_blue;
    display: flex;
    align-items: center;

    &.open{ // when mobile menu is open 
        .header__hamburger-btn > div{
            &:nth-child(1){
                transform: translateY(8px) rotateZ(-45deg);
            }
            &:nth-child(2){
                transform: rotateY(90deg);
            }
            &:nth-child(3){
                transform: translateY(-8px) rotateZ(45deg);
            }
        }
        .header__overlay{
            visibility: visible;
            opacity: 1;
            & > *{
                transform: translateY(0px);
                opacity: 1;
            }
        }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    &__logo{
        position: relative;
        z-index: 4;
        img{
            display: block;
            width: 147px;
            height: auto;
        }
    }

    &__hamburger-btn{
        position: relative;
        padding: 15px;
        margin-right: -15px;
        z-index: 4;
        > div{
            background-color: $very_dark_gray_blue;
            width: 30px;
            height: 2px;
            transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
            transition: all 0.2s ease;
            &:not(:last-child){
                margin-bottom: 6px;
            }
        }
    }

    &__overlay{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: calc(16vh + 90px) 0 12vh 0; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $almost_white;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s;
        z-index: 3;
        & > *{
            transform: translateY(30px);
            opacity: 0;
            transition: all 0.4s;
        }
    }

    &__links-wrapper{ 
        list-style-type: none;
        margin: 0;
        padding: 0;
        > li{
            margin-bottom: 10vh;
            &.active .header__link{
                color: $bright_blue;
            }
        }
    }

    &__link{
        font-size: 1.1875rem;
        font-weight: $font_medium;
        color: $very_dark_gray_blue;
        transition: color 0.2s;
        &:hover{
            color: $bright_blue;
        }
    }

    &__socials{
        width: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        i{
            font-size: 2.1875rem;
            color: $gray_blue;
            transition: color 0.2s;
            &:hover{
                color: $bright_blue;
            }
        }
    }

}

// Desktop Media Query 
@media only screen and (min-width: 900px){
    .header{
        height: 110px;
        
        &__logo img{
            width: 188px; 
        }
    
        &__hamburger-btn{
            display: none; 
        }
    
        &__overlay{
            width: 430px;
            position: relative;
            top: unset;
            right: unset;
            bottom: unset;
            left: unset;
            padding: unset; 
            flex-direction: row;
            align-items: center;
            background-color: unset; 
            visibility: visible; 
            opacity: 1; 
            & > *{ 
                transform: translateY(0px); 
                opacity: 1; 
            }
        }
    
        &__links-wrapper{ 
            width: 285px;
            display: flex;
            justify-content: space-between;
            > li{
                margin-bottom: unset;
                &.active .header__link{
                    color: $dark_gray_blue;
                }
            }
        }
    
        &__link{
            font-size: 1.06rem; 
            color: $gray_blue;
            transition: color 0.3s;
            &:hover{
                color: $dark_blue; 
            }
        }
    
        &__socials{
            width: 74px;
            margin: unset;
            i{
                font-size: 1.9rem;
                transition: color 0.3s;
                &:hover{
                    color: $dark_blue;
                }
            }
        }
    }
}
