*{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font_body;
    font-size: 16px;
    background-color: $almost_white;
}

body.no-scroll{
    overflow: hidden;
}

.App{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

*:focus{
    outline: none;
}

.container{ 
    width: $width;
    max-width: $max_width; 
    margin: 0 auto;
}

.button{
    padding: 15px 38px; 
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1875rem; 
    font-weight: $font_medium;
    background-color: $blue;
    color: #fff;
    transition: background-color 0.3s;
    &:hover{
        cursor: pointer;
        background-color: $bright_blue;
    }
}

// Desktop Media Query 
@media only screen and (min-width: 1200px){ 
    //
}