*{
    margin: 0;
    padding: 0;
}

html{
    font-family: $font_body;
    font-size: 16px;
    background-color: $very_light_blue;
}

body.no-scroll{
    overflow: hidden;
}

.App{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

h2, h3, h4, h5{
    color: $very_dark_gray_blue;
    font-weight: $font_medium;
}

*:focus{
    outline: none;
}

.container{ 
    width: $width;
    max-width: $max_width; 
    margin: 0 auto;
}

.quick-up-btn{
    opacity: 0;
    visibility: hidden;
    transform: translateY(3px);
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparentize($very_dark_gray_blue, 0.85);
    transition: all 0.3s;
    z-index: 2;
    img{
        display: block;
        width: 16px;
        height: auto;
    }
    &.visible{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    &:hover{
        cursor: pointer;
        background-color: transparentize($very_dark_gray_blue, 0.6);
    }
}

.button{
    padding: 15px 38px; 
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.1875rem; 
    font-weight: $font_medium;
    background-color: $blue;
    color: #fff;
    transition: background-color 0.3s;
    &:hover{
        cursor: pointer;
        background-color: $bright_blue;
    }
}

.accent-line{
    width: 100px;
    height: 2px; 
    background-color: $bright_blue;
}

.link{
    font-weight: $font_semi_bold;
    color: $bright_blue;
    transition: color 0.3s;
    &:hover{
        color: $dark_blue;
    }
}

// Desktop Media Query 
@media only screen and (min-width: 1000px){ 
    .accent-line{
        height: 3px;
    }
}