
.home__cta-sec{

    h4{
        max-width: 300px; 
        margin: 0 auto 20px auto; 
        padding: 0 10px;
        font-size: 1.5625rem; // 25 
        font-weight: $font_medium;
    }

    p{
        margin-bottom: 45px; 
        font-size: 0.875rem; // 14 
        font-weight: $font_regular;
        color: $dark_gray_blue;
    }

}

@media only screen and (min-width: 500px){
    .home__cta-sec{
        h4{
            max-width: 360px; 
            font-size: 1.875rem; // 30
        }
    
        p{
            font-size: 1rem; // 16 
        }
    }
}

@media only screen and (min-width: 1000px){
    .home__cta-sec{
        h4{
            max-width: 100%; 
            font-size: 2.1875rem; // 35
        }
    
        p{
            font-size: 1.125rem; // 18
        }
    }
}

@media only screen and (min-width: 1300px){
    .home__cta-sec{
        h4{
            margin: 0 auto 25px auto; 
            font-size: 2.5rem; // 40 
        }
    
        p{
            margin-bottom: 50px; 
            font-size: 1.25rem; // 20 
        }
    }
}
