
.about__cta-sec{ 
    
    p{
        margin-bottom: 40px; 
        font-weight: $font_regular;
        font-size: 1rem; // 16
        line-height: 1.8;
        color: $dark_gray_blue;
    }

    .accent-line{
        margin: 0 auto 40px auto;
    }

    h4{
        margin-bottom: 25px;
        font-size: 1.875rem; // 30
    }

}

@media only screen and (min-width: 600px){
    .about__cta-sec p{
        margin: 0 auto 40px auto;
        font-size: 1.125rem; // 18
        max-width: 520px;
    }
}

@media only screen and (min-width: 900px){
    .about__cta-sec{
        p{
            font-size: 1.25rem; // 20
            max-width: 600px;
        }
        h4{
            font-size: 2.1875rem; // 35
        }
    }
}

@media only screen and (min-width: 1000px){
    .about__cta-sec{
        p{
            margin-bottom: 45px;
        }
        .accent-line{
            margin-bottom: 45px;
        }
    }
}

@media only screen and (min-width: 1300px){
    .about__cta-sec{
        p{
            font-size: 1.5rem; // 24
            max-width: 730px;
        }
        h4{
            font-size: 2.5rem; // 40
        }
    }
}
