
.about__hero-sec{
    
    &__left{
        margin-bottom: 80px;
        text-align: center;
        h2{
            margin-bottom: 25px; 
            font-size: 3.125rem; // 50
        }
        p{
            max-width: 550px;
            margin: 0 auto 45px auto; 
            font-weight: $font_regular;
            font-size: 1.25rem; // 20
            line-height: 1.8;
            color: $dark_gray_blue;
        }
    }

    .me-wrapper{
        max-width: 400px;
        margin: 0 auto;
    }
    
    .me{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 5px;
        background-color: #edf2f6;
    }

}

@media only screen and (min-width: 730px){
    .about__hero-sec{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__left{
            width: $left_width;
            margin-bottom: unset;
            padding-top: $top-padding-mobile;
            text-align: left;
            p{
                margin: 0 0 45px 0; 
            }
        }
    
        &__right{
            width: $right_width; 
        }

        .me-wrapper{
            position: relative;
            width: 64%;
            max-width: 100%;
            margin: 0 0 0 20%;
            &::before, &::after{
                position: absolute;
                content: '';
                width: 34%;
                height: 21%;
                background-image: url('assets/svgs/pattern-square.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            &::before{
                top: 7%;
                right: -17%;
            }
            &::after{
                bottom: -4%;
                left: -17%;
            }
        }
        
        .me{
            position: relative;
            z-index: 1;
        }
    }
}

@media only screen and (min-width: 1000px){
    .about__hero-sec__left{
        padding-top: 60px;
        h2{
            font-size: 3.4375rem; // 55
        }
        p{
            max-width: 350px; 
            font-size: 1.375rem; // 22
        }
    }
}

@media only screen and (min-width: 1150px){
    .about__hero-sec__left p{
        max-width: 450px; 
    }
}

@media only screen and (min-width: 1300px){
    .about__hero-sec{
        &__left{
            h2{
                margin-bottom: 30px; 
                font-size: 3.9375rem; // 63
            }
            p{
                max-width: 500px; 
                margin: 0 0 50px 0; 
                font-size: 1.5625rem; // 25
            }
        }

        .me-wrapper{
            margin: 0 0 0 18%; 
        }
    }
}
