@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
}

body.no-scroll {
  overflow: hidden;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

.container {
  width: 87%;
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  padding: 15px 38px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.1875rem;
  font-weight: 500;
  background-color: #79afec;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #8cbef8;
}

.header {
  height: 90px;
  background-color: #f3f7fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.open .header__hamburger-btn > div:nth-child(1) {
  -webkit-transform: translateY(8px) rotateZ(-45deg);
          transform: translateY(8px) rotateZ(-45deg);
}

.header.open .header__hamburger-btn > div:nth-child(2) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.header.open .header__hamburger-btn > div:nth-child(3) {
  -webkit-transform: translateY(-8px) rotateZ(45deg);
          transform: translateY(-8px) rotateZ(45deg);
}

.header.open .header__overlay {
  visibility: visible;
  opacity: 1;
}

.header.open .header__overlay > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 1;
}

.header__logo img {
  display: block;
  width: 147px;
  height: auto;
}

.header__hamburger-btn {
  position: relative;
  padding: 15px;
  margin-right: -15px;
  z-index: 1;
}

.header__hamburger-btn > div {
  background-color: #495d69;
  width: 30px;
  height: 2px;
  -webkit-transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
          transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__hamburger-btn > div:not(:last-child) {
  margin-bottom: 6px;
}

.header__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(16vh + 90px) 0 12vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fcfcfc;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header__overlay > * {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__links-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__links-wrapper > li {
  margin-bottom: 10vh;
}

.header__links-wrapper > li.active .header__link {
  color: #8cbef8;
}

.header__link {
  font-size: 1.1875rem;
  font-weight: 500;
  color: #495d69;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__link:hover {
  color: #8cbef8;
}

.header__socials {
  width: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__socials i {
  font-size: 2.1875rem;
  color: #8db0ce;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__socials i:hover {
  color: #8cbef8;
}

@media only screen and (min-width: 900px) {
  .header {
    height: 110px;
  }
  .header__logo img {
    width: 188px;
  }
  .header__hamburger-btn {
    display: none;
  }
  .header__overlay {
    width: 430px;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: unset;
    visibility: visible;
    opacity: 1;
  }
  .header__overlay > * {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .header__links-wrapper {
    width: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__links-wrapper > li {
    margin-bottom: unset;
  }
  .header__links-wrapper > li.active .header__link {
    color: #5e8397;
  }
  .header__link {
    font-size: 1.06rem;
    color: #8db0ce;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__link:hover {
    color: #4282b3;
  }
  .header__socials {
    width: 74px;
    margin: unset;
  }
  .header__socials i {
    font-size: 1.9rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__socials i:hover {
    color: #4282b3;
  }
}

.footer {
  padding: 8vw 0 10vw 0;
  background-color: #495d69;
  border-top: 4px solid #79afec;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo img {
  display: block;
  width: 175px;
  height: auto;
}

.footer__socials {
  width: 80px;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials i {
  font-size: 1.875rem;
  color: #f3f7fb;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__socials i:hover {
  color: #8cbef8;
}

.footer__contact-btn {
  background-color: #5e8397;
}

.footer__contact-btn:hover {
  background-color: #79afec;
}

@media only screen and (min-width: 900px) {
  .footer {
    padding: 15px 0;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    margin-bottom: unset;
  }
  .footer__logo img {
    width: 166px;
  }
  .footer__links-wrapper {
    width: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials {
    width: 65px;
    margin: unset;
  }
  .footer__socials i {
    font-size: 1.6875rem;
  }
  .footer__contact-btn {
    padding: 13px 25px;
    font-size: 1.125rem;
  }
}

.home img {
  display: none;
}
/*# sourceMappingURL=App.css.map */