@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #f3f7fb;
}

body.no-scroll {
  overflow: hidden;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5 {
  color: #495d69;
  font-weight: 500;
}

*:focus {
  outline: none;
}

.container {
  width: 87%;
  max-width: 1160px;
  margin: 0 auto;
}

.quick-up-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 15px;
  right: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(73, 93, 105, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 2;
}

.quick-up-btn img {
  display: block;
  width: 16px;
  height: auto;
}

.quick-up-btn.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.quick-up-btn:hover {
  cursor: pointer;
  background-color: rgba(73, 93, 105, 0.4);
}

.button {
  padding: 15px 38px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.1875rem;
  font-weight: 500;
  background-color: #79afec;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #8cbef8;
}

.accent-line {
  width: 100px;
  height: 2px;
  background-color: #8cbef8;
}

.link {
  font-weight: 600;
  color: #8cbef8;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link:hover {
  color: #4282b3;
}

@media only screen and (min-width: 1000px) {
  .accent-line {
    height: 3px;
  }
}

.header {
  position: relative;
  height: 90px;
  background-color: #f3f7fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header.open .header__hamburger-btn > div:nth-child(1) {
  -webkit-transform: translateY(8px) rotateZ(-45deg);
          transform: translateY(8px) rotateZ(-45deg);
}

.header.open .header__hamburger-btn > div:nth-child(2) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.header.open .header__hamburger-btn > div:nth-child(3) {
  -webkit-transform: translateY(-8px) rotateZ(45deg);
          transform: translateY(-8px) rotateZ(45deg);
}

.header.open .header__overlay {
  visibility: visible;
  opacity: 1;
}

.header.open .header__overlay > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__logo img {
  display: block;
  width: 147px;
  height: auto;
}

.header__hamburger-btn {
  position: relative;
  padding: 15px;
  margin-right: -15px;
  z-index: 4;
}

.header__hamburger-btn > div {
  background-color: #495d69;
  width: 30px;
  height: 2px;
  -webkit-transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
          transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__hamburger-btn > div:not(:last-child) {
  margin-bottom: 6px;
}

.header__overlay {
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  padding: calc(16vh + 90px) 0 12vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fcfcfc;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 3;
}

.header__overlay > * {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__links-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__links-wrapper > li {
  margin-bottom: 10vh;
}

.header__links-wrapper > li.active .header__link {
  color: #8cbef8;
}

.header__link {
  font-size: 1.1875rem;
  font-weight: 500;
  color: #495d69;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__link:hover {
  color: #8cbef8;
}

.header__socials {
  width: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__socials i {
  font-size: 2.1875rem;
  color: #8db0ce;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__socials i:hover {
  color: #8cbef8;
}

@media only screen and (min-width: 900px) {
  .header {
    height: 110px;
  }
  .header__logo img {
    width: 188px;
  }
  .header__hamburger-btn {
    display: none;
  }
  .header__overlay {
    width: 430px;
    height: unset;
    position: relative;
    top: unset;
    left: unset;
    padding: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: unset;
    visibility: visible;
    opacity: 1;
  }
  .header__overlay > * {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .header__links-wrapper {
    width: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__links-wrapper > li {
    margin-bottom: unset;
  }
  .header__links-wrapper > li.active .header__link {
    color: #5e8397;
  }
  .header__link {
    font-size: 1.06rem;
    color: #8db0ce;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__link:hover {
    color: #4282b3;
  }
  .header__socials {
    width: 74px;
    margin: unset;
  }
  .header__socials i {
    font-size: 1.9rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__socials i:hover {
    color: #4282b3;
  }
}

.footer {
  padding: 9vw 0 10vw 0;
  background-color: #495d69;
  border-top: 4px solid #79afec;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo img {
  display: block;
  width: 175px;
  height: auto;
}

.footer__socials {
  width: 80px;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials i {
  font-size: 1.875rem;
  color: #f3f7fb;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__socials i:hover {
  color: #8cbef8;
}

.footer__contact-btn {
  background-color: #5e8397;
}

.footer__contact-btn:hover {
  background-color: #79afec;
}

@media only screen and (min-width: 900px) {
  .footer {
    padding: 15px 0;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    margin-bottom: unset;
  }
  .footer__logo img {
    width: 166px;
  }
  .footer__links-wrapper {
    width: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials {
    width: 65px;
    margin: unset;
  }
  .footer__socials i {
    font-size: 1.6875rem;
  }
  .footer__contact-btn {
    padding: 13px 25px;
    font-size: 1.125rem;
  }
}

.home__hero-sec .title {
  margin-bottom: 25px;
  padding: 0 12px;
  font-family: "Arima Madurai", sans-serif;
  font-weight: 700;
  font-size: 4.375rem;
  line-height: 1.1;
  color: #495d69;
}

.home__hero-sec .brief {
  max-width: 300px;
  margin: 0 auto 30px auto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  color: #5e8397;
}

.home__hero-sec .location {
  width: 183px;
  margin: 0 auto 60px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__hero-sec .location img {
  width: 12px;
  height: auto;
  opacity: 0.6;
}

.home__hero-sec .location p {
  font-size: 1rem;
  font-weight: 500;
  color: #abc3d4;
}

.home__hero-sec .see-work-btn {
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__hero-sec .see-work-btn p {
  margin-right: 15px;
}

.home__hero-sec .see-work-btn img {
  padding-top: 1px;
  width: 15px;
  height: auto;
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.home__hero-sec .see-work-btn:hover img {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

@media only screen and (min-width: 500px) {
  .home__hero-sec .brief {
    max-width: 500px;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 1000px) {
  .home__hero-sec .title {
    font-size: 5rem;
  }
  .home__hero-sec .brief {
    max-width: 550px;
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1300px) {
  .home__hero-sec .title {
    font-size: 5.3125rem;
  }
  .home__hero-sec .brief {
    max-width: 600px;
    font-size: 1.5625rem;
  }
  .home__hero-sec .location {
    width: 218px;
  }
  .home__hero-sec .location img {
    width: 14px;
  }
  .home__hero-sec .location p {
    font-size: 1.1875rem;
  }
}

.home__skills-sec .accent-line {
  margin: 0 auto 60px auto;
}

.home__skills-sec .logos-wrapper {
  max-width: 330px;
  margin: -20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__skills-sec .logo {
  position: relative;
  width: calc(33.33% - 30px);
  margin: 20px 15px;
}

.home__skills-sec .logo img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 35%;
}

.home__skills-sec .logo p {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1rem;
  font-weight: 500;
  color: #5e8397;
}

@media only screen and (min-width: 500px) {
  .home__skills-sec .logos-wrapper {
    max-width: 390px;
  }
  .home__skills-sec .logo img {
    width: 80px;
    margin: 0 auto 35% auto;
  }
}

@media only screen and (min-width: 660px) {
  .home__skills-sec .logos-wrapper {
    max-width: 100%;
  }
  .home__skills-sec .logo {
    width: unset;
  }
  .home__skills-sec .logo img {
    margin: 0 auto 40% auto;
  }
}

@media only screen and (min-width: 900px) {
  .home__skills-sec .logos-wrapper {
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home__skills-sec .logo {
    margin: 20px 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .home__skills-sec .logo:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media only screen and (min-width: 1000px) {
  .home__skills-sec .logos-wrapper {
    max-width: 650px;
  }
  .home__skills-sec .logo img {
    width: 85px;
  }
}

@media only screen and (min-width: 1300px) {
  .home__skills-sec .accent-line {
    margin: 0 auto 65px auto;
  }
  .home__skills-sec .logos-wrapper {
    width: 65%;
    max-width: 100%;
  }
  .home__skills-sec .logo img {
    width: 95px;
  }
  .home__skills-sec .logo p {
    font-size: 1.125rem;
  }
}

.home__projects-sec .accent-line {
  margin: 0 auto 60px auto;
}

.home__projects-sec .projects-container {
  margin-bottom: -60px;
}

.home__projects-sec .project {
  margin-bottom: 60px;
}

.home__projects-sec .project__preview {
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: auto;
  background-color: #edf2f6;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(94, 131, 151, 0.15);
          box-shadow: 0px 5px 5px -5px rgba(94, 131, 151, 0.15);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.home__projects-sec .project__preview:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
          box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
}

.home__projects-sec .project__title {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 1.5625rem;
  font-weight: 500;
  color: #243d4c;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.home__projects-sec .project__title:hover {
  color: #4282b3;
}

.home__projects-sec .project__techs {
  margin-bottom: 15px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e8397;
}

.home__projects-sec .project__intro {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e8397;
}

.home__projects-sec .more-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__projects-sec .more-link p {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #8cbef8;
}

.home__projects-sec .more-link .arrow-right {
  width: 10px;
  height: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home__projects-sec .more-link .arrow-right path {
  stroke: #8cbef8;
  stroke-width: 3;
}

.home__projects-sec .more-link:hover .arrow-right {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media only screen and (min-width: 800px) {
  .home__projects-sec .projects-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 5%;
  }
  .home__projects-sec .project__preview:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  .home__projects-sec .more-link:hover .arrow-right {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
}

@media only screen and (min-width: 1000px) {
  .home__projects-sec .projects-container {
    margin-bottom: -80px;
  }
  .home__projects-sec .accent-line {
    margin: 0 auto 75px auto;
  }
  .home__projects-sec .project {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1300px) {
  .home__projects-sec .projects-container {
    margin-bottom: -90px;
  }
  .home__projects-sec .accent-line {
    margin: 0 auto 90px auto;
  }
  .home__projects-sec .project {
    margin-bottom: 90px;
  }
  .home__projects-sec .project__preview {
    margin-bottom: 45px;
  }
  .home__projects-sec .project__title {
    margin-bottom: 5px;
    font-size: 1.75rem;
  }
  .home__projects-sec .project__techs {
    margin-bottom: 18px;
    font-size: 0.9375rem;
  }
  .home__projects-sec .project__intro {
    margin-bottom: 18px;
    font-size: 1.125rem;
  }
  .home__projects-sec .more-link p {
    margin-right: 12px;
    font-size: 1.125rem;
  }
  .home__projects-sec .more-link .arrow-right {
    width: 12px;
  }
  .home__projects-sec .more-link:hover .arrow-right {
    -webkit-transform: translateX(9px);
            transform: translateX(9px);
  }
}

.home__cta-sec h4 {
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding: 0 10px;
  font-size: 1.5625rem;
  font-weight: 500;
}

.home__cta-sec p {
  margin-bottom: 45px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e8397;
}

@media only screen and (min-width: 500px) {
  .home__cta-sec h4 {
    max-width: 360px;
    font-size: 1.875rem;
  }
  .home__cta-sec p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .home__cta-sec h4 {
    max-width: 100%;
    font-size: 2.1875rem;
  }
  .home__cta-sec p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1300px) {
  .home__cta-sec h4 {
    margin: 0 auto 25px auto;
    font-size: 2.5rem;
  }
  .home__cta-sec p {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }
}

.home__hero-sec {
  padding: 40px 0 60px 0;
  background-color: #f3f7fb;
  text-align: center;
}

.home__hero-sec .diamond-left, .home__hero-sec .diamond-right {
  display: none;
}

.home__skills-sec {
  padding: 60px 0;
  background-color: #fcfcfc;
}

.home__projects-sec {
  padding: 60px 0;
  background-color: #fcfcfc;
}

.home__cta-sec {
  padding: 60px 0;
  background-color: #fcfcfc, rgba(171, 195, 212, 0.1);
  text-align: center;
}

.home .section-title {
  padding: 0 20px 20px 20px;
  text-align: center;
  font-size: 2.5rem;
}

@media only screen and (min-width: 900px) {
  .home__hero-sec {
    position: relative;
  }
  .home__hero-sec .diamond-left, .home__hero-sec .diamond-right {
    display: block;
    position: absolute;
    width: 270px;
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  }
  .home__hero-sec .diamond-left {
    top: 50px;
    left: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .home__hero-sec .diamond-left.visible {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .home__hero-sec .diamond-right {
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .home__hero-sec .diamond-right.visible {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media only screen and (min-width: 1000px) {
  .home__hero-sec {
    padding: 100px 0 100px 0;
  }
  .home__hero-sec .diamond-left {
    top: 130px;
  }
  .home__hero-sec .diamond-right {
    bottom: -40px;
  }
  .home__skills-sec {
    padding: 100px 0;
  }
  .home__projects-sec {
    padding: 60px 0 100px 0;
  }
  .home__cta-sec {
    padding: 80px 0;
  }
  .home .section-title {
    font-size: 2.8125rem;
  }
}

@media only screen and (min-width: 1300px) {
  .home__hero-sec .diamond-left, .home__hero-sec .diamond-right {
    width: 21%;
  }
  .home__hero-sec .diamond-left {
    top: 140px;
  }
  .home__hero-sec .diamond-right {
    bottom: -70px;
  }
  .home__projects-sec {
    padding: 60px 0 120px 0;
  }
  .home__cta-sec {
    padding: 100px 0;
  }
  .home .section-title {
    font-size: 3.125rem;
  }
}

.about__hero-sec__left {
  margin-bottom: 80px;
  text-align: center;
}

.about__hero-sec__left h2 {
  margin-bottom: 25px;
  font-size: 3.125rem;
}

.about__hero-sec__left p {
  max-width: 550px;
  margin: 0 auto 45px auto;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8;
  color: #5e8397;
}

.about__hero-sec .me-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.about__hero-sec .me {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #edf2f6;
}

@media only screen and (min-width: 730px) {
  .about__hero-sec .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__hero-sec__left {
    width: 42%;
    margin-bottom: unset;
    padding-top: 40px;
    text-align: left;
  }
  .about__hero-sec__left p {
    margin: 0 0 45px 0;
  }
  .about__hero-sec__right {
    width: 58%;
  }
  .about__hero-sec .me-wrapper {
    position: relative;
    width: 64%;
    max-width: 100%;
    margin: 0 0 0 20%;
  }
  .about__hero-sec .me-wrapper::before, .about__hero-sec .me-wrapper::after {
    position: absolute;
    content: '';
    width: 34%;
    height: 21%;
    background-image: url("assets/svgs/pattern-square.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .about__hero-sec .me-wrapper::before {
    top: 7%;
    right: -17%;
  }
  .about__hero-sec .me-wrapper::after {
    bottom: -4%;
    left: -17%;
  }
  .about__hero-sec .me {
    position: relative;
    z-index: 1;
  }
}

@media only screen and (min-width: 1000px) {
  .about__hero-sec__left {
    padding-top: 60px;
  }
  .about__hero-sec__left h2 {
    font-size: 3.4375rem;
  }
  .about__hero-sec__left p {
    max-width: 350px;
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1150px) {
  .about__hero-sec__left p {
    max-width: 450px;
  }
}

@media only screen and (min-width: 1300px) {
  .about__hero-sec__left h2 {
    margin-bottom: 30px;
    font-size: 3.9375rem;
  }
  .about__hero-sec__left p {
    max-width: 500px;
    margin: 0 0 50px 0;
    font-size: 1.5625rem;
  }
  .about__hero-sec .me-wrapper {
    margin: 0 0 0 18%;
  }
}

.about__detail-sec .detail-box:not(:last-child) {
  margin-bottom: 70px;
}

.about__detail-sec .detail-box__left .title {
  margin-bottom: 20px;
  font-size: 2.25rem;
}

.about__detail-sec .detail-box__left .accent-line {
  margin-bottom: 40px;
}

.about__detail-sec .detail-box__right p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: #5e8397;
}

@media only screen and (min-width: 900px) {
  .about__detail-sec .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__detail-sec .detail-box__left {
    width: 42%;
  }
  .about__detail-sec .detail-box__left .title {
    margin-right: 30px;
  }
  .about__detail-sec .detail-box__left .accent-line {
    margin-bottom: unset;
  }
  .about__detail-sec .detail-box__right {
    width: 58%;
  }
  .about__detail-sec .detail-box__right p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1300px) {
  .about__detail-sec .detail-box__left .title {
    font-size: 2.5rem;
  }
  .about__detail-sec .detail-box__right p {
    font-size: 1.25rem;
  }
}

.about__cta-sec p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: #5e8397;
}

.about__cta-sec .accent-line {
  margin: 0 auto 40px auto;
}

.about__cta-sec h4 {
  margin-bottom: 25px;
  font-size: 1.875rem;
}

@media only screen and (min-width: 600px) {
  .about__cta-sec p {
    margin: 0 auto 40px auto;
    font-size: 1.125rem;
    max-width: 520px;
  }
}

@media only screen and (min-width: 900px) {
  .about__cta-sec p {
    font-size: 1.25rem;
    max-width: 600px;
  }
  .about__cta-sec h4 {
    font-size: 2.1875rem;
  }
}

@media only screen and (min-width: 1000px) {
  .about__cta-sec p {
    margin-bottom: 45px;
  }
  .about__cta-sec .accent-line {
    margin-bottom: 45px;
  }
}

@media only screen and (min-width: 1300px) {
  .about__cta-sec p {
    font-size: 1.5rem;
    max-width: 730px;
  }
  .about__cta-sec h4 {
    font-size: 2.5rem;
  }
}

.about__hero-sec {
  background-color: #f3f7fb;
  padding: 40px 0 70px 0;
}

.about__detail-sec {
  padding: 70px 0;
  background-color: #fcfcfc;
}

.about__cta-sec {
  padding: 80px 0 50px 0;
  background-color: #fcfcfc, rgba(171, 195, 212, 0.1);
  text-align: center;
}

@media only screen and (min-width: 1000px) {
  .about__detail-sec {
    background-color: #fcfcfc;
    margin-top: -11%;
    padding: calc(11% + 50px) 0 110px 0;
  }
}

@media only screen and (min-width: 1440px) {
  .about__detail-sec {
    margin-top: -158px;
    padding: 208px 0 110px 0;
  }
}

.social-tablets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-tablets__tablet {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 20px 25px;
  background-color: #fcfcfc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.social-tablets__tablet:not(:last-child) {
  margin-bottom: 30px;
}

.social-tablets__tablet i {
  font-size: 1.875rem;
  padding-right: 20px;
  color: #8cbef8;
}

.social-tablets__tablet .fa-envelope {
  font-size: 1.6875rem;
}

.social-tablets__tablet p {
  font-weight: 500;
  font-size: 1rem;
  color: #5e8397;
}

.social-tablets__tablet::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #8cbef8;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.social-tablets__tablet:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
          box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.social-tablets__tablet:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .social-tablets {
    display: block;
  }
  .social-tablets__tablet {
    padding: 22px 27px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .social-tablets__tablet:not(:last-child) {
    margin-right: 30px;
  }
  .social-tablets__tablet.email {
    margin-right: 120px;
  }
  .social-tablets__tablet i {
    font-size: 2rem;
  }
  .social-tablets__tablet .fa-envelope {
    font-size: 1.8125rem;
  }
  .social-tablets__tablet p {
    font-size: 1.1875rem;
  }
  .social-tablets__tablet:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
}

.form {
  position: relative;
  max-width: 670px;
  margin: 0 auto;
}

.form__field-wrapper label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5e8397;
}

.form__field-wrapper input, .form__field-wrapper textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 13px;
  padding: 17px 30px;
  border: none;
  border-radius: 5px;
  background-color: #edf2f6;
  font-family: inherit;
  color: #79afec;
  font-weight: 400;
  font-size: 1.125rem;
}

.form__field-wrapper input::-webkit-input-placeholder, .form__field-wrapper textarea::-webkit-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input:-ms-input-placeholder, .form__field-wrapper textarea:-ms-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input::-ms-input-placeholder, .form__field-wrapper textarea::-ms-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input::placeholder, .form__field-wrapper textarea::placeholder {
  color: #8db0ce;
}

.form__field-wrapper textarea {
  resize: vertical;
}

.form__field-wrapper:not(:last-child) {
  margin-bottom: 25px;
}

.form__field-error {
  color: #ec6a6a;
}

.form__submit-btn:disabled {
  opacity: 0.7;
}

.form__submit-msg {
  position: absolute;
  pointer-events: none;
  bottom: -50px;
  font-size: 1.3125rem;
  font-weight: 700;
  color: #5dbb7d;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.form__submit-msg.visible {
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .form {
    max-width: 100%;
  }
  .form__field-wrapper label {
    font-size: 1.3125rem;
  }
  .form__field-wrapper input, .form__field-wrapper textarea {
    font-size: 1.1875rem;
  }
}

.contact__hero-sec {
  padding: 40px 0 60px 0;
  background-color: #f3f7fb;
}

.contact__hero-sec .diamond {
  display: none;
}

.contact__form-sec {
  padding: 60px 0 120px 0;
  background-color: #fcfcfc;
}

.contact__left {
  padding-bottom: 60px;
}

.contact__left .title {
  padding: 0 20px 20px 20px;
  text-align: center;
  font-size: 2.5rem;
}

.contact__left .accent-line {
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .contact__hero-sec {
    position: relative;
    padding: 100px 0 100px 0;
  }
  .contact__form-sec {
    padding: 110px 0 130px 0;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__left {
    width: 42%;
    padding-bottom: unset;
  }
  .contact__left .title {
    padding: 0 100px 20px 0;
    text-align: left;
  }
  .contact__left .accent-line {
    margin: unset;
  }
  .contact__right {
    width: 58%;
  }
}

@media only screen and (min-width: 1300px) {
  .contact__hero-sec .diamond {
    display: block;
    position: absolute;
    bottom: 0;
    left: -220px;
    -webkit-transform: translateY(50%) translateX(-100px);
            transform: translateY(50%) translateX(-100px);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
  }
  .contact__hero-sec .diamond.visible {
    -webkit-transform: translateY(50%) translateX(0px);
            transform: translateY(50%) translateX(0px);
  }
}

.project__hero-sec .title {
  max-width: 300px;
  margin: 0 auto 30px auto;
  padding: 0 20px;
  font-size: 2.5rem;
}

.project__hero-sec .brief {
  max-width: 550px;
  margin: 0 auto 50px auto;
  font-size: 1.125rem;
  font-weight: 400;
  color: #5e8397;
  line-height: 1.8;
}

.project__hero-sec .see-live-btn {
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__hero-sec .see-live-btn i {
  margin-right: 13px;
  font-size: 1.125rem;
}

@media only screen and (min-width: 600px) {
  .project__hero-sec .title {
    max-width: 100%;
  }
  .project__hero-sec .brief {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1000px) {
  .project__hero-sec .title {
    font-size: 2.8125rem;
  }
  .project__hero-sec .brief {
    max-width: 600px;
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1300px) {
  .project__hero-sec .title {
    margin-bottom: 40px;
    font-size: 3.125rem;
  }
  .project__hero-sec .brief {
    max-width: 650px;
    margin-bottom: 50px;
    font-size: 1.4375rem;
  }
}

.slider__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.slider__slide {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.slider__left-btn, .slider__right-btn {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 30px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(73, 93, 105, 0.1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.slider__left-btn img, .slider__right-btn img {
  display: block;
  width: 8px;
  height: auto;
}

.slider__left-btn.available, .slider__right-btn.available {
  visibility: visible;
  opacity: 1;
}

.slider__left-btn:hover, .slider__right-btn:hover {
  cursor: pointer;
  background-color: rgba(73, 93, 105, 0.4);
}

.slider__left-btn {
  left: 5px;
}

.slider__left-btn img {
  padding-right: 2px;
}

.slider__right-btn {
  right: 5px;
}

.slider__right-btn img {
  padding-left: 2px;
}

@media only screen and (min-width: 660px) {
  .slider__left-btn, .slider__right-btn {
    width: 40px;
    height: 40px;
  }
  .slider__left-btn img, .slider__right-btn img {
    width: 9px;
  }
  .slider__left-btn {
    left: 10px;
  }
  .slider__right-btn {
    right: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .slider__left-btn, .slider__right-btn {
    width: 50px;
    height: 50px;
  }
  .slider__left-btn img, .slider__right-btn img {
    width: 11px;
  }
  .slider__left-btn {
    left: 15px;
  }
  .slider__right-btn {
    right: 15px;
  }
}

@media only screen and (min-width: 1300px) {
  .slider__left-btn {
    left: 20px;
  }
  .slider__right-btn {
    right: 20px;
  }
}

.project__detail-sec .project-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project__detail-sec .project-nav__prev-proj-btn, .project__detail-sec .project-nav__next-proj-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49%;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f7fb;
}

.project__detail-sec .project-nav__prev-proj-btn .left-chevron, .project__detail-sec .project-nav__prev-proj-btn .right-chevron, .project__detail-sec .project-nav__next-proj-btn .left-chevron, .project__detail-sec .project-nav__next-proj-btn .right-chevron {
  display: block;
  width: 10px;
  height: auto;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.project__detail-sec .project-nav__prev-proj-btn h6, .project__detail-sec .project-nav__next-proj-btn h6 {
  margin-bottom: 5px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #495d69;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.project__detail-sec .project-nav__prev-proj-btn p, .project__detail-sec .project-nav__next-proj-btn p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #5e8397;
}

.project__detail-sec .project-nav__prev-proj-btn:hover h6, .project__detail-sec .project-nav__next-proj-btn:hover h6 {
  color: #8cbef8;
}

.project__detail-sec .project-nav__prev-proj-btn .left-chevron {
  margin-right: 15px;
}

.project__detail-sec .project-nav__prev-proj-btn:hover .left-chevron {
  opacity: 0;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.project__detail-sec .project-nav__next-proj-btn {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: right;
}

.project__detail-sec .project-nav__next-proj-btn .right-chevron {
  margin-left: 15px;
}

.project__detail-sec .project-nav__next-proj-btn:hover .right-chevron {
  opacity: 0;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

@media only screen and (min-width: 600px) {
  .project__detail-sec .project-nav__prev-proj-btn, .project__detail-sec .project-nav__next-proj-btn {
    padding: 20px;
  }
  .project__detail-sec .project-nav__prev-proj-btn h6, .project__detail-sec .project-nav__next-proj-btn h6 {
    font-size: 1rem;
  }
  .project__detail-sec .project-nav__prev-proj-btn .left-chevron {
    margin-right: 20px;
  }
  .project__detail-sec .project-nav__next-proj-btn .right-chevron {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 900px) {
  .project__detail-sec .project-nav__prev-proj-btn, .project__detail-sec .project-nav__next-proj-btn {
    padding: 20px 23px;
  }
  .project__detail-sec .project-nav__prev-proj-btn h6, .project__detail-sec .project-nav__next-proj-btn h6 {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1000px) {
  .project__detail-sec .project-nav__prev-proj-btn h6, .project__detail-sec .project-nav__next-proj-btn h6 {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1300px) {
  .project__detail-sec .project-nav__prev-proj-btn, .project__detail-sec .project-nav__next-proj-btn {
    padding: 23px;
  }
  .project__detail-sec .project-nav__prev-proj-btn .left-chevron, .project__detail-sec .project-nav__prev-proj-btn .right-chevron, .project__detail-sec .project-nav__next-proj-btn .left-chevron, .project__detail-sec .project-nav__next-proj-btn .right-chevron {
    width: 11px;
  }
  .project__detail-sec .project-nav__prev-proj-btn h6, .project__detail-sec .project-nav__next-proj-btn h6 {
    margin-bottom: 3px;
    font-size: 1.375rem;
  }
  .project__detail-sec .project-nav__prev-proj-btn p, .project__detail-sec .project-nav__next-proj-btn p {
    font-size: 0.8125rem;
  }
}

.project__detail-sec .details-header__metadata-container {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__detail-sec .details-header p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #5e8397;
}

.project__detail-sec .details-header .division {
  margin-bottom: 30px;
}

.project__detail-sec .details-header .heading {
  font-size: 1.5625rem;
  color: #243d4c;
}

.project__detail-sec .details-header .fa-github {
  font-size: 1.875rem;
  color: #abc3d4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.project__detail-sec .details-header .fa-github:hover {
  color: #8cbef8;
}

.project__detail-sec .details-body {
  margin: 40px 0 20px 0;
  color: #5e8397;
  font-weight: 400;
}

.project__detail-sec .details-body__paragraph {
  margin-bottom: 35px;
  font-size: 1rem;
  line-height: 1.8;
}

.project__detail-sec .details-body__paragraph strong {
  font-weight: 600;
}

.project__detail-sec .details-body__FMCredit {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__detail-sec .details-body__FMCredit .asterisk {
  display: block;
  margin-right: 10px;
  width: 8px;
  height: auto;
}

.project__detail-sec .details-body__FMCredit p {
  font-size: 1rem;
}

.project__detail-sec .details-body .division {
  margin-top: 60px;
}

@media only screen and (min-width: 500px) {
  .project__detail-sec .details-header p {
    font-size: 1rem;
  }
  .project__detail-sec .details-header .fa-github {
    font-size: 2rem;
  }
  .project__detail-sec .details-body .division {
    margin-top: 70px;
  }
}

@media only screen and (min-width: 600px) {
  .project__detail-sec .details-header p {
    font-size: 1.125rem;
  }
  .project__detail-sec .details-header .fa-github {
    font-size: 2.1875rem;
  }
  .project__detail-sec .details-body .division {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 900px) {
  .project__detail-sec .details-header__metadata-container {
    margin: 25px 0;
  }
  .project__detail-sec .details-header p {
    font-size: 1.25rem;
  }
  .project__detail-sec .details-header .division {
    margin-bottom: 45px;
  }
  .project__detail-sec .details-header .heading {
    font-size: 1.875rem;
  }
  .project__detail-sec .details-header .fa-github {
    font-size: 2.5rem;
  }
  .project__detail-sec .details-body {
    margin: 55px 0 25px 0;
  }
  .project__detail-sec .details-body__paragraph {
    font-size: 1.1875rem;
  }
  .project__detail-sec .details-body__FMCredit {
    padding-top: 30px;
  }
  .project__detail-sec .details-body__FMCredit .asterisk {
    width: 9px;
  }
  .project__detail-sec .details-body__FMCredit p {
    font-size: 1.0625rem;
  }
  .project__detail-sec .details-body .division {
    margin-top: 100px;
  }
}

.project__cta-sec h4 {
  max-width: 300px;
  margin: 0 auto 20px auto;
  padding: 0 10px;
  font-size: 1.5625rem;
  font-weight: 500;
}

.project__cta-sec p {
  margin-bottom: 45px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e8397;
}

@media only screen and (min-width: 500px) {
  .project__cta-sec h4 {
    max-width: 360px;
    font-size: 1.875rem;
  }
  .project__cta-sec p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .project__cta-sec h4 {
    max-width: 100%;
    font-size: 2.1875rem;
  }
  .project__cta-sec p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1300px) {
  .project__cta-sec h4 {
    margin: 0 auto 25px auto;
    font-size: 2.5rem;
  }
  .project__cta-sec p {
    margin-bottom: 50px;
    font-size: 1.25rem;
  }
}

.project__hero-sec {
  padding: 40px 0 60px 0;
  background-color: #f3f7fb;
  text-align: center;
}

.project .slider {
  position: relative;
  margin: 0 auto 60px auto;
  width: 95%;
  max-width: 980px;
  height: auto;
  overflow: hidden;
  background-color: #fcfcfc;
}

.project__detail-sec {
  padding: 60px 0;
  background-color: #fcfcfc;
}

.project__detail-sec .info-wrapper {
  max-width: 840px;
}

.project__detail-sec .division {
  width: 100%;
  height: 1px;
  background-color: rgba(171, 195, 212, 0.5);
}

.project__cta-sec {
  padding: 60px 0;
  background-color: #fcfcfc, rgba(171, 195, 212, 0.1);
  text-align: center;
}

@media only screen and (min-width: 900px) {
  .project__detail-sec {
    padding-bottom: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .project__hero-sec {
    padding-top: 100px;
  }
  .project__detail-sec {
    padding-bottom: 120px;
  }
  .project__cta-sec {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 1300px) {
  .project__hero-sec {
    padding-bottom: 65px;
  }
  .project .slider {
    border-radius: 5px;
  }
  .project__detail-sec {
    padding-top: 90px;
  }
  .project__cta-sec {
    padding: 100px 0;
  }
}
/*# sourceMappingURL=App.css.map */