@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
}

body.no-scroll {
  overflow: hidden;
}

.App {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h2, h3, h4, h5 {
  color: #495d69;
  font-weight: 500;
}

h2 {
  font-size: 4.375rem;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.875rem;
}

*:focus {
  outline: none;
}

.container {
  width: 87%;
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  padding: 15px 38px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.1875rem;
  font-weight: 500;
  background-color: #79afec;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: #8cbef8;
}

.accent-line {
  width: 100px;
  height: 2px;
  background-color: #8cbef8;
}

@media only screen and (min-width: 1000px) {
  h2, h3, h4, h5 {
    color: #495d69;
    font-weight: 500;
  }
  h2 {
    font-size: 4.375rem;
  }
  h3 {
    font-size: 3.125rem;
  }
  h4 {
    font-size: 2.5rem;
  }
  h5 {
    font-size: 1.875rem;
  }
  .accent-line {
    width: 100px;
    height: 3px;
    background-color: #8cbef8;
  }
}

.header {
  height: 90px;
  background-color: #f3f7fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.open .header__hamburger-btn > div:nth-child(1) {
  -webkit-transform: translateY(8px) rotateZ(-45deg);
          transform: translateY(8px) rotateZ(-45deg);
}

.header.open .header__hamburger-btn > div:nth-child(2) {
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
}

.header.open .header__hamburger-btn > div:nth-child(3) {
  -webkit-transform: translateY(-8px) rotateZ(45deg);
          transform: translateY(-8px) rotateZ(45deg);
}

.header.open .header__overlay {
  visibility: visible;
  opacity: 1;
}

.header.open .header__overlay > * {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
}

.header__logo img {
  display: block;
  width: 147px;
  height: auto;
}

.header__hamburger-btn {
  position: relative;
  padding: 15px;
  margin-right: -15px;
  z-index: 3;
}

.header__hamburger-btn > div {
  background-color: #495d69;
  width: 30px;
  height: 2px;
  -webkit-transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
          transform: translateY(0px) rotateY(0deg) rotateZ(0deg);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__hamburger-btn > div:not(:last-child) {
  margin-bottom: 6px;
}

.header__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: calc(16vh + 90px) 0 12vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fcfcfc;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 2;
}

.header__overlay > * {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__links-wrapper {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__links-wrapper > li {
  margin-bottom: 10vh;
}

.header__links-wrapper > li.active .header__link {
  color: #8cbef8;
}

.header__link {
  font-size: 1.1875rem;
  font-weight: 500;
  color: #495d69;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__link:hover {
  color: #8cbef8;
}

.header__socials {
  width: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__socials i {
  font-size: 2.1875rem;
  color: #8db0ce;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.header__socials i:hover {
  color: #8cbef8;
}

@media only screen and (min-width: 900px) {
  .header {
    height: 110px;
  }
  .header__logo img {
    width: 188px;
  }
  .header__hamburger-btn {
    display: none;
  }
  .header__overlay {
    width: 430px;
    position: relative;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
    padding: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: unset;
    visibility: visible;
    opacity: 1;
  }
  .header__overlay > * {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
  .header__links-wrapper {
    width: 285px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__links-wrapper > li {
    margin-bottom: unset;
  }
  .header__links-wrapper > li.active .header__link {
    color: #5e8397;
  }
  .header__link {
    font-size: 1.06rem;
    color: #8db0ce;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__link:hover {
    color: #4282b3;
  }
  .header__socials {
    width: 74px;
    margin: unset;
  }
  .header__socials i {
    font-size: 1.9rem;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  .header__socials i:hover {
    color: #4282b3;
  }
}

.footer {
  padding: 8vw 0 10vw 0;
  background-color: #495d69;
  border-top: 4px solid #79afec;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__logo img {
  display: block;
  width: 175px;
  height: auto;
}

.footer__socials {
  width: 80px;
  margin: 0 auto 35px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials i {
  font-size: 1.875rem;
  color: #f3f7fb;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer__socials i:hover {
  color: #8cbef8;
}

.footer__contact-btn {
  background-color: #5e8397;
}

.footer__contact-btn:hover {
  background-color: #79afec;
}

@media only screen and (min-width: 900px) {
  .footer {
    padding: 15px 0;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__logo {
    margin-bottom: unset;
  }
  .footer__logo img {
    width: 166px;
  }
  .footer__links-wrapper {
    width: 225px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__socials {
    width: 65px;
    margin: unset;
  }
  .footer__socials i {
    font-size: 1.6875rem;
  }
  .footer__contact-btn {
    padding: 13px 25px;
    font-size: 1.125rem;
  }
}

.home img {
  display: none;
}

.about__hero-sec__left {
  margin-bottom: 80px;
  text-align: center;
}

.about__hero-sec__left h2 {
  margin-bottom: 25px;
  font-size: 3.125rem;
}

.about__hero-sec__left p {
  max-width: 550px;
  margin: 0 auto 45px auto;
  padding: 0 20px;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8;
  color: #5e8397;
}

.about__hero-sec .me-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.about__hero-sec .me {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #edf2f6;
}

@media only screen and (min-width: 730px) {
  .about__hero-sec .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about__hero-sec__left {
    width: 42%;
    margin-bottom: unset;
    padding-top: 40px;
    text-align: left;
  }
  .about__hero-sec__left p {
    margin: 0 0 45px 0;
    padding: unset;
  }
  .about__hero-sec__right {
    width: 58%;
  }
  .about__hero-sec .me-wrapper {
    position: relative;
    width: 64%;
    max-width: 100%;
    margin: 0 0 0 20%;
  }
  .about__hero-sec .me-wrapper::before, .about__hero-sec .me-wrapper::after {
    position: absolute;
    content: '';
    width: 34%;
    height: 21%;
    background-image: url("assets/svgs/pattern-square.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .about__hero-sec .me-wrapper::before {
    top: 7%;
    right: -17%;
  }
  .about__hero-sec .me-wrapper::after {
    bottom: -4%;
    left: -17%;
  }
  .about__hero-sec .me {
    position: relative;
    z-index: 1;
  }
}

@media only screen and (min-width: 1000px) {
  .about__hero-sec__left {
    padding-top: 60px;
  }
  .about__hero-sec__left h2 {
    font-size: 3.4375rem;
  }
  .about__hero-sec__left p {
    max-width: 450px;
    font-size: 1.375rem;
  }
}

@media only screen and (min-width: 1300px) {
  .about__hero-sec__left h2 {
    margin-bottom: 30px;
    font-size: 3.9375rem;
  }
  .about__hero-sec__left p {
    margin: 0 0 50px 0;
    font-size: 1.5625rem;
  }
  .about__hero-sec .me-wrapper {
    margin: 0 0 0 18%;
  }
}

.detail-box:not(:last-child) {
  margin-bottom: 70px;
}

.detail-box__left .title {
  margin-bottom: 20px;
  font-size: 2.25rem;
}

.detail-box__left .accent-line {
  margin-bottom: 40px;
}

.detail-box__right p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: #5e8397;
}

@media only screen and (min-width: 900px) {
  .detail-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .detail-box__left {
    width: 42%;
  }
  .detail-box__left .title {
    margin-right: 30px;
  }
  .detail-box__left .accent-line {
    margin-bottom: unset;
  }
  .detail-box__right {
    width: 58%;
  }
  .detail-box__right p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1300px) {
  .detail-box__left .title {
    font-size: 2.5rem;
  }
  .detail-box__right p {
    font-size: 1.25rem;
  }
}

.about__hero-sec {
  background-color: #f3f7fb;
  padding: 40px 0 70px 0;
}

.about__detail-sec {
  padding: 70px 0;
}

.about__cta-sec {
  padding: 80px 0 50px 0;
  background-color: rgba(171, 195, 212, 0.1);
  text-align: center;
}

.about__cta-sec p {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: #5e8397;
}

.about__cta-sec .accent-line {
  margin: 0 auto 60px auto;
}

.about__cta-sec h4 {
  margin-bottom: 25px;
  font-size: 1.875rem;
}

.about__cta-sec .link {
  font-weight: 600;
  color: #8cbef8;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.about__cta-sec .link:hover {
  color: #4282b3;
}

@media only screen and (min-width: 600px) {
  .about__cta-sec p {
    margin: 0 auto 40px auto;
    font-size: 1.125rem;
    max-width: 520px;
  }
}

@media only screen and (min-width: 900px) {
  .about__cta-sec p {
    font-size: 1.25rem;
    max-width: 600px;
  }
  .about__cta-sec h4 {
    font-size: 2.1875rem;
  }
}

@media only screen and (min-width: 1000px) {
  .about__detail-sec {
    background-color: #fcfcfc;
    margin-top: -11%;
    padding: calc(11% + 50px) 0 110px 0;
  }
  .about__cta-sec .accent-line {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1300px) {
  .about__cta-sec p {
    font-size: 1.5rem;
    max-width: 730px;
  }
  .about__cta-sec h4 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .about__detail-sec {
    margin-top: -158px;
    padding: 208px 0 110px 0;
  }
}

.social-tablets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-tablets__tablet {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  padding: 20px 25px;
  background-color: #fcfcfc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.social-tablets__tablet:not(:last-child) {
  margin-bottom: 30px;
}

.social-tablets__tablet i {
  font-size: 1.875rem;
  padding-right: 20px;
  color: #8cbef8;
}

.social-tablets__tablet .fa-envelope {
  font-size: 1.6875rem;
}

.social-tablets__tablet p {
  font-weight: 500;
  font-size: 1rem;
  color: #5e8397;
}

.social-tablets__tablet::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #8cbef8;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.social-tablets__tablet:hover {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
          box-shadow: 0px 15px 25px -5px rgba(94, 131, 151, 0.15);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.social-tablets__tablet:hover::after {
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .social-tablets {
    display: block;
  }
  .social-tablets__tablet {
    padding: 22px 27px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .social-tablets__tablet:not(:last-child) {
    margin-right: 30px;
  }
  .social-tablets__tablet.email {
    margin-right: 120px;
  }
  .social-tablets__tablet i {
    font-size: 2rem;
  }
  .social-tablets__tablet .fa-envelope {
    font-size: 1.8125rem;
  }
  .social-tablets__tablet p {
    font-size: 1.1875rem;
  }
  .social-tablets__tablet:hover {
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
}

.form {
  position: relative;
  max-width: 670px;
  margin: 0 auto;
}

.form__field-wrapper label {
  display: block;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: #5e8397;
}

.form__field-wrapper input, .form__field-wrapper textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 13px;
  padding: 17px 30px;
  border: none;
  border-radius: 5px;
  background-color: #edf2f6;
  font-family: inherit;
  color: #79afec;
  font-weight: 400;
  font-size: 1.125rem;
}

.form__field-wrapper input::-webkit-input-placeholder, .form__field-wrapper textarea::-webkit-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input:-ms-input-placeholder, .form__field-wrapper textarea:-ms-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input::-ms-input-placeholder, .form__field-wrapper textarea::-ms-input-placeholder {
  color: #8db0ce;
}

.form__field-wrapper input::placeholder, .form__field-wrapper textarea::placeholder {
  color: #8db0ce;
}

.form__field-wrapper textarea {
  resize: vertical;
}

.form__field-wrapper:not(:last-child) {
  margin-bottom: 25px;
}

.form__field-error {
  color: #ec6a6a;
}

.form__submit-btn:disabled {
  opacity: 0.7;
}

.form__submit-msg {
  position: absolute;
  pointer-events: none;
  bottom: -50px;
  font-size: 1.3125rem;
  font-weight: 700;
  color: #5dbb7d;
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

.form__submit-msg.visible {
  opacity: 1;
}

@media only screen and (min-width: 1000px) {
  .form {
    max-width: 100%;
  }
  .form__field-wrapper label {
    font-size: 1.3125rem;
  }
  .form__field-wrapper input, .form__field-wrapper textarea {
    font-size: 1.1875rem;
  }
}

.contact__hero-sec {
  padding: 40px 0 60px 0;
  background-color: #f3f7fb;
}

.contact__hero-sec .diamond {
  display: none;
}

.contact__form-sec {
  padding: 60px 0 120px 0;
}

.contact__left {
  padding-bottom: 60px;
}

.contact__left .title {
  padding: 0 20px 20px 20px;
  text-align: center;
}

.contact__left .accent-line {
  margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
  .contact__hero-sec {
    position: relative;
    padding: 100px 0 100px 0;
  }
  .contact__form-sec {
    padding: 110px 0 130px 0;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__left {
    width: 42%;
    padding-bottom: unset;
  }
  .contact__left .title {
    padding: 0 100px 20px 0;
    text-align: left;
  }
  .contact__left .accent-line {
    margin: unset;
  }
  .contact__right {
    width: 58%;
  }
}

@media only screen and (min-width: 1300px) {
  .contact__hero-sec .diamond {
    display: block;
    position: absolute;
    bottom: 0;
    left: -220px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
/*# sourceMappingURL=App.css.map */